<div *ngFor="let video of videos"
  [routerLink]=""
  [queryParams]="{ videoId: video.id }"
  class="preview"
  [class.selected]="video.id === (videoId | async)">
  <app-video-item [video]="video"></app-video-item>
</div>
