<form [formGroup]="search" (ngSubmit)="submit()">
  <label for="title">Title</label>
  <input type="text" id="title" formControlName="title">
  <br>

  <label for="author">Author</label>
  <input type="text" id="author" formControlName="author">
  <br>

  <button [disabled]="!search.valid">Submit</button>
</form>

<pre>Form value: {{search.value | json}}</pre>
<pre>Form valid: {{search.valid}}</pre>
<pre>Title valid: {{search.get('title').valid}}</pre>
