<ng-container *ngIf="video | async as v">
  <h1>{{v.title}}</h1>
  <h2>{{v.author}}</h2>
  <iframe
    [src]="url | async"
    width="560"
    height="315"
    frameborder="0"
  ></iframe>
</ng-container>
